th{
padding-top:10px;
padding-bottom:10px;
}
#id{
cursor:default;
background-color: red;
}
tr:hover {
  background-color:burlywood;
  cursor: pointer;
}
body{
 font-family:sans-serif;
 }
 .col{
  background-color:#f2f2f2;
  }
  table tr{
  background-color:white;
  }
 
